*{
	padding: 0px;
	list-style: none;
	text-decoration: none;
	font-family: Arial;


}

.container{
	position: relative;
	margin: auto; /*para que esté centrado*/
	height: auto;
	text-align: center;

}


.title{
    color: green;
    font-size: 42px;
	font-family: fantasy;
	letter-spacing: 8px;
    
}

button{
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: large;
    color: white;
    background: rgb(199, 122, 122);
}

button:hover{
    background: red;
}


#player{
    text-align: center;
    color: indigo;
    font-weight: bold;
}

table{
    margin: 0 auto;
    text-align: center;
	width: auto;
	position: relative;
	
 }

